@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-200 text-slate-700;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-slate-900 text-slate-300;
  }
}
